
* {
  background-color: #2eb82e;
}

#header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

#nav-bar {
  background-color: black;
  margin-top: 20px;
}